body{
    margin: 0;
}
h2{
    text-decoration: underline;
    text-align: center;
}
p{
    text-transform: uppercase;
    color: white;
}
.tudo{
    display: flex;
    flex-direction: column;
}
.header{
    display: flex;
    justify-content: center;
    background-color: orangered;
    padding: 5px;
}
.caixa{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 85vh;
}
.caixafilho{
    flex: 1;
    display: flex;
    justify-content: center;
    width: 100%;
}
.roxo{
    background-color: #483D8B;
    flex: 2;
}
.azul{
    background-color: #1E90FF;
}
.verde{
    background-color: #228B22;
}
.footer{
    background-color: #FF1493;
    padding: 5px;
    justify-content: center;
    display: flex;
}